.card{
    background-color: white;
    width: 22%;
    height: auto;
    padding: 10px;

}

.title{
    height: 70px;
}

.cardimages{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;


}


.cardimages img{
   height: 81px;
   cursor: pointer;
}

.cardimages span{
    border: 1px solid black;
}


.card-container{

    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: 300px;
}

.card footer{
    height: 80px;
    display: flex;
    align-items: end;
}

.card footer a{
    color: #007185;
    text-decoration: none;
}

.crawler{
    height: 100px;
    width: 100%;
}







